# Давайте вспомним, что было в прошлые разы

In [1]:
a = 5
b = 9
c = 'капбара'

In [2]:
#Какой тип у a?
type(a)

int

In [3]:
#Создвйте список с отдельными буквами из с
l = []
for i in c:
    l.append(i)
l

['к', 'а', 'п', 'б', 'а', 'р', 'а']

In [4]:
#Если буква гласная, то напишите об этом
import re
l = []
for i in c:
    if re.match('[аАиИыЫуУоО]{1}', i):
        print('Гласная!')
    l.append(i)
l

Гласная!
Гласная!
Гласная!

['к', 'а', 'п', 'б', 'а', 'р', 'а']

In [5]:
#Напишите функцию, которая принимает на вход строку, разбирает ее на буквы, и делает из них список
def hi(name):
    print('Hi, {name}!'.format(name = name))

hi('капибара')

Hi, капибара!

In [6]:
input_string = 'kjfdklfjkjf'
input_string[1]

'j'

In [7]:
input_string

'kjfdklfjkjf'

# Работа с базой данных (sqlite)

In [8]:
import sqlite3

In [9]:
!ls -lah

total 600
drwxr-xr-x@ 17 madhape  staff   544B Jul 28 17:42 .
drwxr-xr-x@  9 madhape  staff   288B Jul 21 19:52 ..
-rw-r--r--@  1 madhape  staff   6.0K Jul 23 18:30 .DS_Store
drwxr-xr-x@  9 madhape  staff   288B Jul 28 12:12 .ipynb_checkpoints
-rw-rw-r--@  1 madhape  staff   135K Jul 23 19:20 airtable.ipynb
-rw-r--r--@  1 madhape  staff   4.0K Jul 16 21:40 emoji.ipynb
-rw-r--r--@  1 madhape  staff   4.2K Jul 23 21:58 excel.ipynb
-rw-r--r--@  1 madhape  staff    66B Jul 23 21:10 hh.txt
-rw-r--r--@  1 madhape  staff    67B Jul 23 21:11 otus.txt
-rw-r--r--@  1 madhape  staff   5.1K Jul 21 21:32 pillow.ipynb
-rw-r--r--@  1 madhape  staff    30K Jul 23 21:58 py101 Python Data Types, Conditions, Functions.ipynb
-rw-r--r--@  1 madhape  staff    21K Jul 21 18:34 py101 Python Data Types.ipynb
-rw-r--r--@  1 madhape  staff    11K Jul 23 21:58 py101 Python Get The Data.ipynb
-rw-r--r--@  1 madhape  staff    38K Feb 18 21:14 py101 Python Process The Data.ipynb
-rw-r--r--@  1 madhape  staff   5.0K Jul 28 13:10 safari.ipynb
-rw-r--r--@  1 madhape  staff    47B Jul 23 19:32 tasks.txt
-rw-r--r--@  1 madhape  staff   3.1K Jul 23 21:58 trello.ipynb

In [10]:
conn = sqlite3.connect("../data/mydatabase.db") 
cursor = conn.cursor()

In [11]:
!ls ../data/

arial.ttf             employee_file.csv     mydatabase.db
blurred.png           example.xls           sample.log
cat.jpg               example2.xls          text.png
csv_file.csv          my_file.txt
employee_birthday.txt my_file2.txt

In [12]:
#создание таблицы
cursor.execute("""CREATE TABLE tasks
                  (title text, project text, due_date text,
                   contact text, type text)
               """)

In [13]:
# Вставляем данные в таблицу
cursor.execute("""INSERT INTO tasks
                  VALUES ('task1', 'project1', '7/24/2019',
                  'Egor', 'urgent')"""
               )
 
# Сохраняем изменения
conn.commit()

In [14]:
# Вставляем множество данных в таблицу используя безопасный метод "?"
my_tasks = [('task3', 'project1', '7/9/2002', 'Egor', 'ekeke'),
          ('44Заключить договор', 'project1', '2/1/2011', 'Аня', '?'),
          ('33Помыть капибару', 'Дом', '4/17/2012', 'Василий', 'urgent'),
          ('33Купить корм коту', 'Дом', '4/10/2012', 'я', '?')]
 
cursor.executemany("INSERT INTO tasks VALUES (?,?,?,?,?)", my_tasks)
conn.commit()

In [15]:
sql = """
UPDATE tasks 
SET project = 'Otus' 
WHERE project = 'project1'
"""
 
cursor.execute(sql)
conn.commit()

In [16]:
sql = "DELETE FROM tasks WHERE project = 'Otus'"
 
cursor.execute(sql)
conn.commit()

In [17]:
cursor = conn.cursor()
 
sql = "SELECT * FROM tasks WHERE project=?"
cursor.execute(sql, [("Дом")])
print(cursor.fetchall()) # or use fetchone()
 
print("Here's a listing of all the records in the table:")
for row in cursor.execute("SELECT rowid, * FROM tasks ORDER BY project"):
    print(row)
 
print("Results from a LIKE query:")
sql = "SELECT * FROM tasks WHERE title LIKE 'По%'"
cursor.execute(sql)
 
print(cursor.fetchall())

[('33Помыть капибару', 'Дом', '4/17/2012', 'Василий', 'urgent'), ('33Купить корм коту', 'Дом', '4/10/2012', 'я', '?')]
Here's a listing of all the records in the table:
(4, '33Помыть капибару', 'Дом', '4/17/2012', 'Василий', 'urgent')
(5, '33Купить корм коту', 'Дом', '4/10/2012', 'я', '?')
Results from a LIKE query:
[]

In [18]:
!ls -lah  ../data/

total 15176
drwxr-xr-x@ 16 madhape  staff   512B Jul 28 17:45 .
drwxr-xr-x@  9 madhape  staff   288B Jul 21 19:52 ..
-rw-r--r--@  1 madhape  staff   6.0K Jul 21 21:31 .DS_Store
-rw-rw-r--@  1 madhape  staff   359K Jul  7  2008 arial.ttf
-rw-r--r--@  1 madhape  staff   3.3M Jul 21 21:29 blurred.png
-rw-r--r--@  1 madhape  staff   380K Feb  6 19:25 cat.jpg
-rw-r--r--@  1 madhape  staff   147B Jul 23 18:34 csv_file.csv
-rw-r--r--@  1 madhape  staff    83B Jul 23 18:46 employee_birthday.txt
-rw-r--r--@  1 madhape  staff    55B Jul 23 18:52 employee_file.csv
-rw-r--r--@  1 madhape  staff   5.5K Jul 23 18:41 example.xls
-rw-r--r--@  1 madhape  staff   5.5K Jul 23 20:33 example2.xls
-rw-r--r--@  1 madhape  staff    18B Jul 23 18:29 my_file.txt
-rw-r--r--@  1 madhape  staff     0B Jul 23 18:29 my_file2.txt
-rw-r--r--@  1 madhape  staff   8.0K Jul 28 17:45 mydatabase.db
-rw-r--r--@  1 madhape  staff   717B Jul 23 20:58 sample.log
-rw-r--r--@  1 madhape  staff   2.5M Jul 21 21:32 text.png

# Pandas

In [19]:
import pandas as pd

In [20]:
my_series = pd.Series([5, 0, 7, 8, 9, 10])
my_series

0     5
1     0
2     7
3     8
4     9
5    10
dtype: int64

In [21]:
#у Series есть атрибуты, через которые можно получить список элементов и индексы
#my_series.index
my_series.values

array([ 5,  0,  7,  8,  9, 10])

In [22]:
#доступ по их индексу
my_series[4]

9

In [23]:
my_series2 = pd.Series([5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])
my_series2['f']

10

In [24]:
my_series2[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [25]:
my_series2[['a', 'b', 'f']] = 0
my_series2

a    0
b    0
c    7
d    8
e    9
f    0
dtype: int64

In [26]:
my_series2[my_series2 > 0] * 2

c    14
d    16
e    18
dtype: int64

In [27]:
df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
})

In [28]:
df['country']

0    Kazakhstan
1        Russia
2       Belarus
3       Ukraine
Name: country, dtype: object

In [29]:
df = df.rename(columns={'Country Code': 'country_code'})

In [30]:
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [31]:
!ls

airtable.ipynb
emoji.ipynb
excel.ipynb
hh.txt
otus.txt
pillow.ipynb
py101 Python Data Types, Conditions, Functions.ipynb
py101 Python Data Types.ipynb
py101 Python Get The Data.ipynb
py101 Python Process The Data.ipynb
safari.ipynb
tasks.txt
trello.ipynb

In [32]:
df = pd.read_csv('../data/airports.csv', sep = ',')

In [33]:
df

                 type  latitude_deg  longitude_deg
0            heliport     40.070801     -74.933601
1       small_airport     59.949200    -151.695999
2       small_airport     34.864799     -86.770302
3            heliport     35.608700     -91.254898
4       small_airport     34.305599    -112.165001
...               ...           ...            ...
49699  medium_airport     40.542524     122.358600
49700  medium_airport     41.784401     123.496002
49701        heliport     51.894444       1.482500
49702   small_airport    -11.584278      47.296389
49703   small_airport     30.784722     130.270556

[49704 rows x 3 columns]

In [34]:
print(df.head())

            type  latitude_deg  longitude_deg
0       heliport     40.070801     -74.933601
1  small_airport     59.949200    -151.695999
2  small_airport     34.864799     -86.770302
3       heliport     35.608700     -91.254898
4  small_airport     34.305599    -112.165001

In [35]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [36]:
print(df.columns)

Index(['type', 'latitude_deg', 'longitude_deg'], dtype='object')

In [37]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49704 entries, 0 to 49703
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           49704 non-null  object
 1   latitude_deg   49704 non-null  float64
 2   longitude_deg  49704 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.1+ MB
None

In [38]:
country_df = df['type']

In [39]:
print(country_df.head())

0         heliport
1    small_airport
2    small_airport
3         heliport
4    small_airport
Name: type, dtype: object

In [40]:
print(country_df.tail())

49699    medium_airport
49700    medium_airport
49701          heliport
49702     small_airport
49703     small_airport
Name: type, dtype: object

In [56]:
subset = df[['country','year']]

In [57]:
print(subset.head())

       country  year
0  Afghanistan  1950
1  Afghanistan  1951
2  Afghanistan  1952
3  Afghanistan  1953
4  Afghanistan  1954

# API Todoist
Todoist - популярный сервис для управления задачами  
Ссылка на описание: https://developer.todoist.com/sync/v7/

In [ ]:
#устанавливаем  модуль 
!pip install todoist-python

In [82]:
#импортируем 
from todoist.api import TodoistAPI

In [48]:
#из веб-интерфейса (Settings -> Integrations) копируем токен
token = 'token'

In [83]:
api = TodoistAPI(token)

In [84]:
api.sync()

{'full_sync': False,
 'temp_id_mapping': {},
 'labels': [],
 'project_notes': [],
 'filters': [],
 'sync_token': '2XF4KNPNLIi5rEeYPUj1BSLBJ_JNDCzAKpT21aiwx3ldNneoZQF07lZmu58nRoBntLZivi99bV-tr5FlWAylovodFJ4FUS2ulzYY5sBR2uEv',
 'day_orders': {},
 'projects': [],
 'collaborators': [],
 'day_orders_timestamp': '1560634248.29',
 'live_notifications_last_read_id': 2224576146,
 'items': [],
 'notes': [],
 'reminders': [],
 'due_exceptions': [],
 'live_notifications': [],
 'sections': [],
 'collaborator_states': []}

In [85]:
full_name = api.state['user']['full_name']
full_name

'Owlkin'

In [86]:
for project in api.state['projects']:
    print(project['name'])

Team Inbox
Inbox
HR Porn Podcast
HRporn
Запись подкаста
Event Box
EDU
Just Tasks
Купить
МТС
DS Tools
Crawling
DQ
DataFest 2019 MTS
Спасите котика
Learn Python & Co
Learn Python 13
me
weekly review
Stratoplan Dir
Language learning
HSE
networking
Pyladies Moscow
PyLadies Meetup 04
PyLadies Workshop 01
PyLadies Meetup 05
blog.madhape.xyz
2down
Camp NaNoWriMo 2019
Wacken 2019
Project4OtusDemo
Project4OtusDemo

In [87]:
project = api.projects.add('Project4OtusDemo2')
api.commit()
print(project)

Project({'child_order': 21,
 'collapsed': 0,
 'color': 47,
 'id': 2215534515,
 'is_archived': 0,
 'is_deleted': 0,
 'is_favorite': 0,
 'name': 'Project4OtusDemo2',
 'parent_id': None,
 'shared': False})

In [88]:
task1 = api.items.add('Task2')
api.commit()
print(task1)

SyncError: ('a5a7fe12-bf88-11e9-add0-784f438c6b59', {'error_tag': 'MAX_ITEMS_LIMIT_REACHED', 'error_code': 49, 'http_code': 403, 'error_extra': {}, 'error': 'Maximum number of items per user project limit reached'})